.Shop {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 50px;
  background-color: rgb(241, 241, 241);
  height: auto;
}

.shopContainer {
  width: 100%;
  border: 1px solid rgb(168, 168, 168);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  gap: 10px;
}

.emojiImage {
  height: 200px;
  width: 100%;
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EmojiDescription {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
}

.emojiName {
  border-bottom: rgb(234, 234, 234) 2px solid;
  font-size: 30px;
  font-weight: 700;
}

.emojiPrice {
  align-self: start;
  font-size: 20px;
}

.emojiButton {
  width: 350px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}
